.app {
  height: 100%;

  .main-container {
    height: 100%;
    width: 100%;
  }

  .side-bar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    background-color: #f0f0f0;

    > div:last-child {
      margin-bottom: 20px;
    }
    .component-simple-nav {
      margin: 40px 20px 0;
    }
  }

  .page-container {
    margin: 0px 20px 0 220px;
    max-width: 800px;
  }
}
